<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    h1, a, p{
        color: white;
        }

    body{
        background-color: 4d7ea8;
    }

    input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input::placeholder {
    color: dd9787;
    }

    .submit{
        background-color: b6c2d9;
    }

    .center-column{
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: a6c48a;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px a6c48a;

    }

    .item-row{
        background-color: 678d58;
        color: white;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        font-size: 16px;
        box-shadow: 0px -1px 10px -4px a6c48a;
    }

    .btn-danger{
        background-color: a6c48a;
        border-color: 678d58;
    }

</style>

<div class="center-column">
<h1>TODO LIST</h1>

<form method ="POST" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input class="btn btn-info" type="submit" name="Create Task">
</form>

<div class="todo-list">
{% for t in tasks %}
    <div class="item-row">
        <a class="btn btn-sm btn-info" href="{% url 'update' t.id %}">UPDATE</a>
        <a class="btn btn-sm btn-info" href="{% url 'delete' t.id %}">DELETE</a>
        {% if t.complete == True %}
        <strike> {{ t }} </strike>
        {% else %}
        <span> {{ t }} </span>
        {% endif %}
    </div>
{% endfor %}
</div>
</div>
